/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
/.idea
atlassian*
/nbproject

/sitemap
/lib
/node_modules
/.grunt
!/pub/
/pub/*
!/pub/errors/
/pub/errors/*
!/pub/errors/custom
!/pub/errors/magebit_bizaar
!/pub/errors/design.xml
/dev/*
!/dev/tools

/dev/tools/*
!/dev/tools/grunt

/dev/tools/grunt/*
!/dev/tools/grunt/configs

/dev/tools/grunt/configs/*
!/dev/tools/grunt/configs/local-themes.js

/bin
/phpserver
/setup
/update
/var
/vendor
!/vendor/magento/framework/Mail/Template/TransportBuilder.php
/generated
/auth.json.sample
/package.json.sample

/app/etc/env.php
/app/etc/NonComposerComponentRegistration.php
/app/etc/db_schema.xml
/app/etc/registration_globlist.php
/app/etc/vendor_path.php
/app/*.php
/app/.htaccess
/.php_cs
/.php_cs.cache
/robots.txt
/sitemap.xml
/.htaccess
/.htaccess.sample
/.php_cs.dist
/.travis.yml
/.user.ini
/CHANGELOG.md
/COPYING.txt
/index.php
/LICENSE.txt
/LICENSE_AFL.txt
/nginx.conf.sample
.DS_Store
.php-cs-fixer.dist.php
.php-cs-fixer.cache
/Gruntfile.js.sample
/grunt-config.json.sample
/hyva-coding-standard/vendor
/app/design/frontend/Magebit/bizaar/web/tailwind/tailwind-output.css
/app/design/frontend/Magebit/bizaar/web/css/styles.css
