<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="ccavenue" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>CCAvenue MCPG</label>
                <comment><![CDATA[<fieldset class="form-wrapper" id="edit-ccavenue-main-panel"">
                            <div class="fieldset-wrapper">
                                <div id="ccavenue-main-panel-left" style="height:70px;">
                                    <a href="https://www.ccavenue.ae" target="_blank">
                                        <img typeof="foaf:Image" src="https://www.ccavenue.ae/images_shoppingcart/ccavenue_logo_ae.png" alt="CCAvenues Logo">
                                    </a><br><br> 
                                    </div>
                                <div id="ccavenue-main-panel-midd">
                                    <h2 class="panel-title">CCAvenue MCPG </h2>
                                    <a style="text-decoration: none; font-size:16px;font-family:Verdana, Geneva, sans-serif; color:#09F;">Module Version :</a>
                                    <a id="module_version" style="text-decoration: none;color:#390; font-family:Verdana, Geneva, sans-serif; font-size:12px; font-weight:bold">2.4.1</a>                
                                    <br> 
 <a href="mailto:shoppingcart@ccavenue.com?Subject=UAE%20Shopping%20Cart%20-%20Magento%202.4" target="_top">Contact Support</a>
                                </div>
                                
                        </div>
                    </fieldset>
                ]]>
                </comment>
                   <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="new_order_status" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment Pending Order Status</label>
                    <source_model>Infibeam\Ccavenue\Model\Source\PaymentStatus</source_model>
                    <config_path>payment/ccavenue/new_order_status</config_path>
                </field>
                <field id="payment_success_order_status" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment Success Order Status</label>
                    <source_model>Infibeam\Ccavenue\Model\Source\PaymentStatus</source_model>
                    <config_path>payment/ccavenue/payment_success_order_status</config_path>
                </field>
                <field id="allowed_currencies" translate="label" type="multiselect" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed Currencies</label>
                    <source_model>Infibeam\Ccavenue\Model\Source\CurrencyList</source_model>
                </field>
                <field id="payment_auto_invoice" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Auto Invoice</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="integration_type" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Integration Type</label>
                    <source_model>Infibeam\Ccavenue\Model\Source\IntegrationType</source_model>
                    <config_path>payment/ccavenue/integration_type</config_path>
                </field>
                <field id="environment" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Environment</label>
                    <source_model>Infibeam\Ccavenue\Model\Source\Environment</source_model>
                    <config_path>payment/ccavenue/environment</config_path>
                </field>
                <field id="merchant_id" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Merchant Id</label>
                </field>
                <field id="access_code" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Access Code</label>
                </field>
                <field id="encryption_key" translate="label" type="obscure" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Working Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum Order Total</label>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximum Order Total</label>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment From Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment From Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>
        </section>
    </system>
</config>
