/* stylelint-disable value-no-vendor-prefix */
.cms-about-us {
    @apply overflow-x-hidden;

    .main-heading {
        @apply text-2xl lg:text-5xl;
    }

    .heading {
        @apply mt-3 lg:mt-7;
    }

    .bizaar-main {
        .pagebuilder-column-line {
            @apply lg:gap-5 flex-wrap lg:flex-nowrap;

            .pagebuilder-column {
                @apply md:!w-full;

                .pagebuilder-mobile-only {
                    @apply w-full;
                }
            }
        }
    }

    .short-description {
        @apply pb-2.5 lg:pb-19;
    }

    .valuable-things-slider {
        .glider {
            @apply overflow-x-scroll;

            &::-webkit-scrollbar {
                @apply hidden;
            }
        }

        .glider-track {
            @apply gap-0 lg:gap-5 lg:!w-min cursor-default;

            .glider-slide {
                @apply lg:max-w-[22.875rem] lg:px-0;
            }
        }

        .carousel-nav {
            @apply lg:invisible;

            .glider-prev,
            .glider-next {
                @apply invisible;
            }

            .glider-dot {
                @apply p-0 !w-2 !h-2 opacity-100 bg-gray-d4 border-gray-d4;

                &.active {
                    @apply !bg-white !border-2 border-blue mt-0 p-1.5 inline-block relative;

                    &::before {
                        @apply bg-blue absolute w-2 h-2 rounded-full -translate-y-2/4 -translate-x-2/4;

                        content: '';
                    }
                }
            }
        }
    }

    .take-care-row {
        @apply bg-gray-f2 w-full;

        .take-care-columns {
            @apply !self-center lg:my-0 xl:py-24 px-5 !container !w-full !px-8;

            .pagebuilder-column-line {
                @apply flex-col-reverse lg:flex-row;
            }

            .take-care-text-column {
                @apply lg:pt-12 !w-full lg:!w-1/2;

                .take-care-text {
                    @apply lg:pt-8 max-w-[39.125rem] text-base;
                }

                .contact-us-button {
                    @apply pt-5 lg:pt-10;
                }
            }

            .take-care-video-column {
                @apply max-w-[47.25rem] !w-full lg:!w-1/2 lg:px-0 pt-5 lg:pt-0;

                .take-care-video {
                    @apply xl:h-[29rem];

                    .pagebuilder-video-container {
                        @apply xl:h-[29rem];
                    }
                }
            }
        }
    }

    .our-partners-row {
        @apply pt-9.5;
    }

    .vision-mission-products-slider {
        @apply lg:mb-0 lg:pb-12;

        .glider {
            @apply overflow-x-scroll;

            &::-webkit-scrollbar {
                @apply hidden;
            }
        }

        .glider-track {
            @apply gap-1 lg:gap-5 lg:!w-min cursor-default;

            .glider-slide {
                @apply lg:max-w-[31rem] rounded-md;

                .pagebuilder-slide-wrapper {
                    @apply bg-gray-f2;

                    background-position-x: 2rem !important;
                    background-position-y: 2rem !important;

                    .pagebuilder-poster-overlay {
                        @apply p-0 lg:h-[22.75rem] items-start pt-37 px-8;

                        p {
                            @apply leading-6 lg:leading-7;
                        }
                    }
                }
            }
        }

        .carousel-nav {
            @apply lg:!hidden;

            .glider-prev,
            .glider-next {
                @apply invisible;
            }

            .glider-dot {
                @apply p-0 !w-2 !h-2 opacity-100 bg-gray-d4 border-gray-d4;

                &.active {
                    @apply !bg-white !border-2 border-blue mt-0 p-1.5 inline-block relative;

                    &::before {
                        @apply bg-blue absolute w-2 h-2 rounded-full -translate-y-2/4 -translate-x-2/4;

                        content: '';
                    }
                }
            }
        }
    }

    @screen md-max {
        .vision-mission-products-slider {
            .glider-track {
                .glider-slide {
                    .pagebuilder-slide-wrapper {
                        background-position-x: 1.25rem !important;
                        background-position-y: 1.25rem !important;
                    }
                }
            }
        }
    }

    @screen lg {
        .columns {
            @apply !w-full p-0 max-w-[unset];
        }

        [data-content-type='row']:not(.latest-news-row):not(.take-care-row) {
            @apply !container !w-full !px-8;
        }
    }

    .hear-from-the-team-slider {
        @apply lg:pt-12;

        .glider-track {
            .glider-slide {
                @apply xl:px-30;

                .pagebuilder-slide-wrapper {
                    @apply lg:h-[31.125rem] !bg-left-top border rounded-[0.313rem] border-gray-d4;

                    .pagebuilder-poster-overlay {
                        @apply pt-[100%] px-5 pb-20 lg:p-0 xl:p-8;

                        .hear-from-the-team-content {
                            @apply lg:pl-[32rem];

                            .quotes {
                                @apply lg:pt-4;
                            }

                            .main-text {
                                @apply pt-5 lg:pt-7 lg:!leading-7;
                            }

                            .name {
                                @apply pt-5 lg:pt-6 lg:!leading-7;
                            }

                            .position {
                                @apply pt-1 lg:text-sm lg:leading-6;
                            }
                        }
                    }
                }
            }
        }

        .carousel-nav {
            @apply !h-0;

            .carousel-nav-container {
                @apply justify-center translate-y-[-130%] xl:translate-y-[-130%] 2xl:translate-y-[-150%]
                    translate-x-[-30%] md:translate-x-[-50%] lg:translate-x-[9%] xl:translate-x-[0%]
                    2xl:translate-x-[-5%] w-[80%];

                .glider-dots {
                    @apply !hidden;
                }
            }
        }
    }

    .latest-news-row {
        @apply lg:bg-gray-f2 w-full;

        .latest-news-heading {
            @apply !self-center lg:my-0 pt-2 lg:pt-12 mb-0 pb-5 lg:pb-0 lg:px-0 !container !w-full !px-8;

            .pagebuilder-column:first-child {
                @apply !w-full;
            }

            .view-blog-button {
                @apply !hidden lg:!block;

                a {
                    @apply text-blue bg-white border-gray-e1;

                    &:hover {
                        @apply text-opacity-100 bg-gray-f2 text-blue-darker;
                    }
                }
            }
        }

        .latest-news-columns {
            @apply self-stretch lg:!self-center my-0 pt-0 lg:pt-8 pb-0 lg:pb-7.5 lg:px-0 !container !w-full !px-8;

            .glider-track {
                @apply gap-2.5 overflow-auto lg:overflow-hidden;

                .slider-item {
                    @apply w-[49%] lg:w-1/4 flex-shrink-0 lg:flex-shrink;

                    .card-interactive {
                        @apply py-0 px-0 min-h-[12.5rem] lg:min-h-[18.75rem] border-none m-0 w-full
                            lg:bg-gray-f2;

                        &:hover {
                            @apply !bg-white lg:!bg-gray-f2;
                        }

                        .blog-post-image {
                            @apply h-[5.75rem] md:h-[10rem] lg:h-[12.875rem] lg:max-w-[22.875-rem] rounded-md w-full
                                object-cover left-1/2 -translate-x-2/4 relative;
                        }

                        .post-header {
                            @apply pt-3 lg:pt-6 text-xs lg:text-sm leading-4 lg:leading-6;

                            .post-heading {
                                .post-category {
                                    @apply uppercase;
                                }
                            }

                            .post-item-link {
                                @apply text-black text-sm lg:text-lg leading-6 lg:leading-7;
                            }
                        }

                        .post-content {
                            @apply pt-3 text-base leading-7 hidden lg:block;

                            .post-text-hld {
                                & > div {
                                    @apply !px-0;

                                    div:has(p) {
                                        @apply overflow-hidden overflow-ellipsis;

                                        display: -webkit-box;
                                        -webkit-line-clamp: 2;
                                        -webkit-box-orient: vertical;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .carousel-nav {
                @apply block lg:hidden;

                .glider-prev,
                .glider-next {
                    @apply invisible;
                }

                .glider-dot {
                    @apply p-0 !w-2 !h-2 opacity-100 bg-gray-d4 border-gray-d4;

                    &.active {
                        @apply !bg-white !border-2 border-blue mt-0 p-1.5 inline-block relative;

                        &::before {
                            @apply bg-blue absolute w-2 h-2 rounded-full -translate-y-2/4 -translate-x-2/4;

                            content: '';
                        }
                    }
                }
            }
        }

        .view-blog-button-fullwidth-column {
            @apply pt-3 block lg:hidden;

            .view-blog-button {
                @apply w-full m-0;

                .pagebuilder-button-primary {
                    @apply text-blue bg-white border-gray-e1 w-full py-3;

                    &:hover {
                        @apply text-opacity-100 bg-gray-f2 text-blue-darker;
                    }
                }
            }
        }
    }

    @screen md-max {
        .latest-news-columns {
            .card-interactive {
                .post-header {
                    .post-item-link {
                        @apply overflow-hidden overflow-ellipsis;

                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
    }
}
