/* stylelint-disable value-no-vendor-prefix */
.blog-page-list {
    #maincontent {
        @apply mt-0;

        .columns {
            @apply grid-cols-1 gap-x-0 lg:grid-cols-4 lg:gap-x-6;
        }
    }

    .highlight-post {
        .post-header {
            .post-info {
                .post-data .item {
                    @apply after:content-['•'] after:inline-block after:px-2 last:after:content-none;
                }
            }
        }

        .post-content {
            [data-content-type='row'][data-appearance='contained'] {
                @apply p-0;

                & div {
                    @apply p-0 m-0;
                }

                & p {
                    @apply overflow-hidden;

                    display: -webkit-box;
                    -webkit-line-clamp: 6;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
}
