<?xml version="1.0" ?>
<!--
/**
 * This file is part of the Magebit_SkyExLabelSlabel package.
 *
 * @copyright Copyright (c) 2023 Magebit, Ltd. (https://magebit.com/)
 * @author    Magebit <info@magebit.com>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magebit_SkyExLabelSlabel">
        <sequence>
            <module name="SkyExLabel_Slabel"/>
        </sequence>
    </module>
</config>
