<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <skyex_label_config>
            <skyex_label_general>
                <dpw>1</dpw>
                <stype>1</stype>
                <skyex_key></skyex_key>
            </skyex_label_general>
        </skyex_label_config>
    </default>
</config>