<?xml version="1.0"?>
<!--
/**
 * This file is part of the Magebit_Checkout package.
 *
 * @copyright Copyright (c) 2023 Magebit, Ltd. (https://magebit.com/)
 * @author Magebit <info@magebit.com>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_load_before">
        <observer name="checkout_collect_rates" instance="Magebit\Checkout\Observer\CheckoutCollectRates"/>
    </event>
</config>
